.blog-container {
  background-color: rgb(30, 150, 182);
  text-align: center;
  height: auto;
}

.post-container {
  background-image: url();
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  background-color: rgb(9, 53, 70);
  color: white;
  width: auto;
  height: 400px;
  padding: 20px;
  border: 1px dashed white;
}

.post-header {
  display: block;
  background-color: white;
  color: black;
  margin-right: auto;
  text-align: left;
  padding: 10px;
}
